.App {
  text-align: center;
}
body{
  margin:0;
  padding:0;
  height:100%;
  max-width: 100%;
  overflow-x: hidden;
}
/* Footer */
.signBelow {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
}

#signText{
  font-family: 'Times New Roman', Times, serif;
}

.submissions{
  display: flex;
  justify-content: center;
}
.footerParent {
  background-color: teal;
  display: flex;
  justify-content: center;
  font-size: 10px;
  position:absolute;
   bottom:0;
   width:100%;
   height:100px;
}
.footerButton{
  background-color: #4CAF50; 
  border: none;
  color: white;
  outline: none;
}
.footerButton:hover {background-color: #3e8e41}

<<<<<<< HEAD
.footerButton:active {
  background-color: #3e8e41;
  transform: translateY(0.5px);
}

.footerInput{
  outline: none;
}


#containerWrap{
padding-top: 18%;
  }

.firstPar{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}

.contCont{
  /* border-radius: 5px;
  box-shadow: 0px 0px 1px;
  margin: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 60%;
}
=======
#nav-map {
  position: relative;
  width: 100%;
  height: 600px;
}

  .menu-background {
    width: 100%;
    height: 100%;
  }

  #nav-img1, #nav-img2, #nav-img3, #nav-img4, #nav-img5, #nav-img6, #nav-img7, #nav-img8 {
    border-radius: 50%;
    border: solid 5px white;

    animation: size-cycling 6s infinite ease-in-out;
  }

  #nav-img1-box {
    position: absolute;
    top: 10%;
    left: 10%; 
  }
  #nav-img2-box {
    position: absolute;
    top: 50%;
    left: 30%; 
  }
  #nav-img3-box {
    position: absolute;
    top: 70%;
    left: 20%; 
  }
  #nav-img4-box {
    position: absolute;
    top: 40%;
    left: 45%; 
  }
  #nav-img5-box {
    position: absolute;
    top: 65%;
    left: 65%; 
  }
  #nav-img6-box {
    position: absolute;
    top: 15%;
    left: 75%; 
  }
  #nav-img7-box {
    position: absolute;
    top: 45%;
    left: 80%; 
  }
  #nav-img8-box {
    position: absolute;
    top: 64%;
    left: 85%; 
  }

  @keyframes size-cycling {
    0%   { width: 50px; }
    50%  { width: 60px; }
    100% { width: 50px; }
  }

  .nav-label {
    color: white;
    font-size: 14px;
    margin-top: -5px;
  }

  #back-to-map-icon {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 150px;
    left: 20px;
  }

  .article-summary-box {
    width: 100%;
    margin-top: -100px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article-summary {
    width: 60%;
    height: 20%;

    color: white;
  }
>>>>>>> f80e36a135c2d2d0749bd8503705a3272b808100
