.App {
  text-align: center;
}

/* Sione's CSS begins */
#introduction-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction-wrap h1{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 0;
}

#introduction-wrap h3{
  color: forestgreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  width: 50%;
}

#head-image-wrap img{
  border-radius: 50%;
  height: 500px;
  margin: 30px;
}
#summary-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-blocks{
  width: 50%;
}

#quote-one{
  width: 50%;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  min-width: 500px;
  max-width: 50vw; 
}

#ai-engineers {
  width: 50vw;
}
 /* Sione's CSS ends */