

.business-container, .civil-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

    .img-container {
        width: 350px;
        height: 350px;
    }

    .stakeholder-desc {
        width: 300px;

        color: blue;
        text-align: center;
    }

    #business-card-summary, #civil-card-summary {
        margin: 0 0 auto;

        width: 80%;
        height: 80px;
        font-style: italic;

    }
